{% if(message) %}
    <div class="ui success message">
        {{ message }}
    </div>
{% endif %}
<div class="ui form">
    <form action="/budgets/add" method="post">
        <div class="field">
            <label>Название</label>
            <input type="text" name="name" placeholder="Название"/>
        </div>
        <div class="field">
            <label>Описание</label>
            <input type="text" name="desc" placeholder="Описание"/>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden" id="check-switch" name="switch" checked>
                <label for="check-switch">Сразу переключиться на этот бюджет</label>
            </div>
        </div>
        <button class="ui button" type="submit">Сохранить</button>
    </form>
</div>