body, html {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    text-align: left;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, "Roboto", Arial, serif;
    
}

#content-pad {
    margin: 0 2em;
    height: 100%;
}

#menu {
    padding: 1.7em 0;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a.nav-current, a:visited.nav-current {
    color: black;
    /*text-decoration: underline;*/
}

pre {
    text-align: left;
}

table, tr {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

td {
    margin: 0;
    padding: 0.5em;
    text-align: left;
    border: 1px inset #333;
}