{% extends _layout %}

{% block content %}

    <h1>Планы </h1>
    <p>
    {% for suggestion in suggestions %}
        <div>
            <span class="name">{{ suggestion.name }}</span>,
            <span class="amount">{{ suggestion.amount }}</span>, 
            <span class="date">{{ suggestion.date | date('d M') }}</span>
        </div>
    {% endfor %}
    </p>
    <h2>Внеси план</h2>
    {% if(message) %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="ui form">
        <form action="/suggestions/add" method="post">
            <div class="field">
                <label>На что?</label>
                <input type="text" name="name" placeholder="На что?"/>
            </div>
            <div class="field">
                <label>Когда?</label>
                <input type="text" name="date" placeholder="Когда?"/>
            </div>
            <div class="field">
                <label>Сколько</label>
                <input type="number" name="amount" placeholder="Сколько денег"/>
            </div>
            <button class="ui button" type="submit">Добавить план</button>
        </form>
    </div>
{% endblock %}