{% extends _layout %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        Your user id: {{ _userId }} <br>
        Recalculate stats <a href="/stats/calculate">on separate page</a> or <br>
        Recalculate stats <a href="?recalculate=1">and see calculation results</a>
    </p>
{% endblock %}