{% extends _layout %}

{% block content %}
    <h1>Выбери месяц в {{ year }}, {{ _user.name }} </h1>
    <div>
    {% for id, month in months %}
        <a href="/calendar/?month={{ id }}" class="ui green basic button">{{ month | date('F') }}</a>
    {% endfor %}
    </div>
{% endblock %}