{% extends _layout %}

{% block content %}
    <h1>Hello! This is statistic testing site.</h1>
    <h2>Isolated stats for test</h2>
    <p>
        Your test statsId: <b>{{ statsId }}</b>. <br>
        If you want to wipe all experimental data and start from scratch and just <a href="/landing/regenerate" >regenerate StatsId</a><br> 
        Also you can <a href="/landing/regenerateUserId" >regenerate UserId</a> 
    </p>
    
    <h2>Do some test actions</h2>
    <p>
        We have a page with test actions where you can do some experiments <br>
        Please visit <a href="/stats/actions" >do some actions</a>
    </p>
    
    <h2>See results</h2>
    <p>
        After some clicks in test actions you can stats page, recalculate stats and see the results<br>
        <a href="/stats/view" >View Results</a>
    </p>
{% endblock %}