{% extends _layout %}

{% block content %}
    <h1>Привет!</h1>
    <p>
        Чтобы пользоваться сайтом нужно
        <a href="/auth/">Войти</a> или <a href="/auth-signup/">Зарегистироваться</a>
    </p>
{% endblock %}