{% extends _layout %}

{% block content %}
    <h1>Sorry, page not found</h1>
    <p>
        Page with address "{{ url }}" is not found.<br>
        Please, <a href="/" >go home page</a> to continue browsing;
    </p>
{% endblock %}