{% extends _layout %}

{% block content %}
    <h1>Упс, при генерации страницы произошла критическая ошибка &gt;&lt;</h1>
    <p>
        Если такое повторится - пожалуйста обратитесь в поддержку.<br>
        Надеюсь <a href="/" >главная страница</a> по прежнему работает =)
    </p>
    {% if error %}
        <pre>
{{ error }}
{{ trace }}
        </pre>
    {% endif %}
{% endblock %}