{% extends _layout %}

{% block content %}
    <h1>Друзья</h1>
    <p>
        {% for user in users %}
        <div>
            {{ user.name }}{{ user.email ? (', ' ~ user.email) : ''}}
        </div>
        {% endfor %}
    </p>
    <h2>Заведи друзей</h2>
    {% if(message) %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="ui form">
        <form action="/relations-users/add" method="post">
            <div class="fields">
                <div class="field">
                    <label>Имя</label>
                    <input type="text" name="name" placeholder="Имя"/>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email"/>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui button" type="submit">Добавить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}