{% extends _layout %}

{% block body %}
    <table id="ctaBlueModule" class="mktoModule" cellpadding="0" cellspacing="0"
           border="0" width="100%" style="min-width:100%;">
        <tbody>
        <tr>
            <td style="font-family:'Open Sans', Arial, sans-serif; font-size:14px; color:#000000; line-height:1.9;">
                <div style="margin-bottom:5px; font-size:24px; font-weight:bold; line-height:1.3; color:#00a9e5;"
                     class="mktoText" id="headingText1"></div>
                <div class="mktoText" id="bodyText1">
                    <div>
                        Hi&nbsp;there,
                    </div>
                    <div>
                        <br/>
                    </div>
                    <div>
                        Join Elasticsearch experts for upcoming events:
                        <div>
                            <ul>
                                <li><a href=
                                       "http://link.elastic.co/ZABA207Wp0201i0nG30eMMq"
                                       target="_blank" id=""
                                    >Tracking your Infrastructure Logs &amp; Metrics in
                                        the Elastic Stack (ELK Stack)</a></li>
                                <li><a href=
                                       "http://link.elastic.co/Xpe02XA1B200MqAni037MH0"
                                       target="_blank"
                                    >Kibana Spaces: Organize and Secure Your Dashboards
                                        and Saved Objects</a></li>
                                <li><a href=
                                       "http://link.elastic.co/HM0032i0B2YnqMA1e7A00Ip"
                                       target="_blank" id=""
                                    >Tips for Passing the Elastic Certified Engineer
                                        Exam</a></li>
                                <li><a href=
                                       "http://link.elastic.co/s0Jq1e70nABZ0M2iA230p0M"
                                       target="_blank" id=""
                                    >Official Elasticsearch Training</a></li>
                            </ul>
                            <div>
                                <div>
                                    Feel free to forward this invite to any colleagues.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center"
                style="padding-top:40px; font-family:'Open Sans', Arial, sans-serif; font-size:14px; line-height:1.9; color: #000000;">
                <div class="mktoText" id="bodyCta1"></div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}